
body { 
  background-color: rgb(19, 3, 36); 
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
} 
 header { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: transparent; 
} 
 ul { 
  display: flex; 
  align-items: center; 
  list-style: none; 
  margin: 0;  
} 
 li { 
  margin: 0 10px; 
} 
 a img { 
  width: 60px; 
  margin: 0;  
} 
 .neon { 
  font-size: 50px; 
  color: #fff; 
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de; 
  animation: neon-animation 1.5s ease-in-out infinite alternate; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 10px;  
} 
 @keyframes neon-animation { 
  from, to { 
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de; 
  } 
} 
 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 90px;
  padding-right: 50px;
  width: 900px;
} 
 .round-box { 
  width: 200px; 
  height: 210px; 
  border-radius: 50%; 
  background-color: #ccc; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 30px; 
} 
 .square-box { 
  width: 150px; 
  height: 150px; 
  background-color: #fff; 
  border-radius: 10px; 
  display: flex;  
  justify-content: center; 
  align-items: center; 
} 
 img { 
  max-width: 100%; 
  max-height: 100%; 
  border-radius: 10px; 
} 
 .textbox {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
 .textbox h1, .container p {
  color: white;
  font-size: 40px;
}
 .container-wrapper {
  display: flex;
  justify-content: space-between; 
  margin: 0;
  padding: 0;
}
 @media (max-width: 1000px) {
  .container-wrapper {
    flex-direction: column;
  }
}
 .containerout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color:  rgb(26, 4, 49); 
  border-top: 2px black solid; 
}
 .containerout h1 {
  color: white;
  padding-left: 20%;
}
 .bt {
  margin-left: auto;
}
 @media (max-width: 1000px) {
  .containerout {
    flex-direction: column;
  }
  .containerout a {
    padding: 10px 0;
  }
}