
body { 
  background-color: rgb(19, 3, 36); 
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
} 
header { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: transparent; 
} 
ul { 
  display: flex; 
  align-items: center; 
  list-style: none; 
} 
li { 
  margin: 0 10px; 
} 
a img { 
  width: 60px; 
} 
.neon { 
  font-size: 50px; 
  color: #fff; 
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de; 
  animation: neon-animation 1.5s ease-in-out infinite alternate; 
} 
@keyframes neon-animation { 
  from, to { 
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de; 
  } 
} 
.container {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  justify-content: center;
  align-items: center; 
} 
.round-box { 
  width: 200px; 
  height: 200px;
  border-radius: 50%; 
  background-color: #ccc; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 
.square-box { 
  width: 150px; 
  background-color: #fff; 
  border-radius: 10px; 
  display: flex;  
  justify-content: center; 
  align-items: center; 
} 
img { 
  max-width: 100%; 
  max-height: 100%; 
  border-radius: 10px; 
} 
.textbox {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 10px 0px;
}
.textbox h1, .container p {
  color: white;
  font-size: 30px;
}
.container-wrapper {
  display: flex;
  max-width: 100%;
  height: auto;
  padding-top: 90px;
}
@media (max-width: 1000px) {
  .container-wrapper {
    flex-direction: column;
    align-items: center; 
  }
  .container {
    width: 100%;
  } 
}
.container a{
  font-size: 30px;
}
.containerout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(26, 4, 49); 
  border-top: 2px black solid; 
  margin-top: auto;
  width: 100%;
  position: fixed; 
  bottom: 0; 
}
.containerout h1 {
  color: white;
  padding-left: 20%;
}
.bt {
  margin-left: auto;
}
@media (max-width: 1000px) {
  .containerout {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .containerout h1 {
    padding-left: 0;
  }
  .bt {
    margin-left: 0;
    margin-right: 0;
  }
  .ngnl{
    padding-right: 120px;
  }
}